.App {
  text-align: center;
  width: 500px;
  background: #333;
  font-family: arial;
  color: #FAFAFA;
  -webkit-border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  border-radius: 25px 25px 25px 25px;
  margin: 70px auto;
}

.header {
  background-color: #222;
  display: flex;
  -webkit-border-radius: 25px 25px 0 0;
  -moz-border-radius: 25px 25px 0 0;
  border-radius: 25px 25px 0 0;
  padding: 5px 10px;
  justify-content: space-around;
  height: 60px;
}

.header .stats {
  flex-grow: 1;
  align-self: flex-end;
}

.stats tr:first-child {
  font-size: 1.3em;
  color: #FAFAFA;
  font-family: 'Ubuntu', sans-serif;
}

.stats tr:last-child {
  font-size: 1em;
  color: #C7C9C5;
  font-family: 'Lato', sans-serif;
}

.date {
  text-align: right;
  margin: auto 5px 5px auto;
}

.header .date {
  flex-grow: 3;
  align-self: flex-end;
  font-family: 'Ubuntu', sans-serif;
}

.date-big {
  font-size: 36px;
}

.date-small {
  font-size: 24px;
  text-transform: lowercase;
}

.task {
  background: #f2f2f1;
  width: auto;
  min-height: 50px;
  margin: 10px 10px 10px 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  line-height: 50px;
  transition: background-color 200ms ease-in-out;
}

.toggle-click {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.remove-btn {
  margin: auto 0 auto 0;
}

.remove-task-btn {
  flex: 1 0 auto;
  visibility: hidden;
  text-align: right;
  color: #d33333;
  font-size: 1.7em;
  padding-right: 20px;
  cursor: pointer;
  height: 100%;
}

.remove-btn:hover .remove-task-btn {
  visibility: visible;
}

.radio.completed {
  background-color: #58d178;
}

.task:hover .radio.completed {
  background-color: #28e459;
}

.radio {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  align-self: flex-start;
  margin: auto 0 auto 0;
  background-color: #ff7a7a;
}

.task:hover {
  cursor: pointer;
  background-color: #d3d3d3;
  transition: background-color 200ms ease-in-out;
}

.task:hover.completed {
  cursor: pointer;
  background-color: #525252;
}

.task:hover .radio {
  background-color: #f6524a;
  transition: background-color 200ms ease-in-out;
}

.task-name {
  width: 390px;
  height: inherit;
  margin: auto 0 auto 0;
  padding: 10px 0 10px 15px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #333;
  overflow-wrap: break-word;
  line-height: 1.3em;
}

.completed {
  background-color: #5e5d5d;
  transition: background-color 200ms ease-in-out;
}


.task-name.completed {
  color: white;
  text-decoration: line-through;
  background-color: rgba(0,0,0,0);
}

.footer-form form {
  min-height: 60px;
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  border-radius: 0 0 25px 25px;
  display: flex;
  background-color: #222;

}

.footer-form form textarea {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #3b3a3a;
  border-style: none;
  color: #f8f8f8;
  letter-spacing: 2px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.footer-form form textarea:focus {
  background-color: #444;
  transition: background-color 200ms ease-in-out;
}

.footer-form form textarea::-webkit-input-placeholder{
  color: #f8f8f8;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
}

.footer-form form input[type=submit] {
  display: block;
  font-size: .6em;
  margin: 15px 15px 15px 0;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.footer-form form input[type=submit]:hover{
  background: #2e6bcc;
  color: #fff;
  cursor: pointer;
  transition: background 100ms ease-in-out;
}