.App {
  text-align: center;
  width: 500px;
  background: #333;
  font-family: arial;
  color: #FAFAFA;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin: 70px auto;
}

.header {
  background-color: #222;
  display: flex;
  -webkit-border-radius: 25px 25px 0 0;
  -moz-border-radius: 25px 25px 0 0;
  border-radius: 25px 25px 0 0;
  padding: 5px 10px;
  justify-content: space-around;
}

.header .stats {
  flex-grow: 1;
}

.stats tr:first-child {
  font-size: 1.3em;
  color: #FAFAFA;
  font-family: 'Ubuntu', sans-serif;
}

.stats tr:last-child {
  font-size: 1em;
  color: #C7C9C5;
  font-family: 'Lato', sans-serif;
}

.date {
  text-align: right;
  margin: auto 5px 5px auto;
}

.header .date {
  flex-grow: 4;
  align-self: flex-end;
  font-family: 'Ubuntu', sans-serif;
}

.date-big {
  font-size: 36px;
}

.date-small {
  font-size: 24px;
  text-transform: lowercase;
}
